# Environment variables
*.env

# Generated reports
data/reports/

*.md
*.json
# Python
__pycache__/
*.py[cod]
*$py.class 
*.ipynb
secrets.toml
data/
.streamlit/secrets.toml
test.txt
documentation/RegEx-RuleEditor.pdf
documentation/*.docx
newrequirements.txt
